*.swp
*~

test_gr4j/*
!test_gr4j/ctrl.in
!test_gr4j/meteo.in

test_hbv/*
!test_hbv/ctrl.in
!test_hbv/meteo.in

test_hymod/*
!test_hymod/ctrl.in
!test_hymod/meteo.in

test_gr4j_ostr/*
!test_gr4j_ostr/ostIn_Unix.txt
!test_gr4j_ostr/ostIn.txt
!test_gr4j_ostr/ctrl.in.tlp
!test_gr4j_ostr/ctrl.in
!test_gr4j_ostr/ost_thym_gr4j.sh
!test_gr4j_ostr/run_ost.sh
!test_gr4j_ostr/save_best.sh

bin/*
!bin/makefile

thym_*

doc/*

ref/*


