*.swp
*~

test_gr4j/*
!test_gr4j/ctrl.in
!test_gr4j/meteo.in

test_hbv/*
!test_hbv/ctrl.in
!test_hbv/meteo.in

test_hymod/*
!test_hymod/ctrl.in
!test_hymod/meteo.in

test_gr4j_ost/*
!test_gr4j_ost/ostIn_Unix.txt
!test_gr4j_ost/ostIn.txt
!test_gr4j_ost/ctrl.in.tlp
!test_gr4j_ost/ctrl.in
!test_gr4j_ost/ost_thym_gr4j.sh
!test_gr4j_ost/run_ost.sh
!test_gr4j_ost/save_best.sh

test_hbv_ost/*
test_hymod_ost/*

bin/*
!bin/makefile

thym_*

doc/*

ref/*

temp/*
