*.swp
*~

test_gr4j/*
!test_gr4j/ctrl.in
!test_gr4j/meteo.in

test_hbv/*
!test_hbv/ctrl.in
!test_hbv/meteo.in

test_hymod/*
!test_hymod/ctrl.in
!test_hymod/meteo.in

bin/*
!bin/makefile

thym_*

doc/*

ref/*


